<!DOCTYPE html>

 <html>
 <head>
 	<title>Contact us</title>
 </head>

 <body>
 <div id="contactus" style="text-align: center; background-color: pink">
      <h1>HI THERE </h1>
      <h2>WE ARE COOMING AS SOON AS</h2>
       <br>
       <address>
         <p>Contact us at <a href="info@code4socialgood.org">info@code4socialgood.org</a></p>
         
         <p>Visit us at: <a href="http://code4socialgood.org/">http://code4socialgood.org/</a></p>
    
        </address>
        <div align="center" class="footer">This is Footer <a routerLink="/">Go Back</a>
</div>
      
 </body>

 </html>

 