
<!DOCTYPE html>
<html>
  <body>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
     </head>
     <b><h1>{{message}}</h1></b>
  <b>{{title}}</b>
  <div id="map"></div>
<br>
  <div align="center" class="footer"><a routerLink="">Go Back</a>
<router-outlet></router-outlet>
    </div>

    <div class="ppl_list">
      <img  src="../images/about_us/ppl_placeholder.png">
      <img  src="../images/about_us/ppl_placeholder.png">
      <img  src="../images/about_us/ppl_placeholder.png">
      <img  src="../images/about_us/ppl_placeholder.png">
      <img  src="../images/about_us/ppl_placeholder.png">
      <img  src="../images/about_us/ppl_placeholder.png">
      <img  src="../images/about_us/ppl_placeholder.png">
    </div>
     </body>
</html>
