.selected {
    background-color: #CFD8DC !important;
    color: darkseagreen;
}
.users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 50em;
	height: 60px;
	margin-bottom: 500px;
	text-align: center;
}
.users .label .h3 {
    text-align: right;
    height: 30em !important;

}

td .left-align {
	left-align: 20px;
	
}
td .avatar {
	background-color: #EEE;
	height: 100px;
	width: 100px;
}

.btn {
	background-color: #EEE;
	height: 35px;
	width: 125px;
	
}
.delete {
	text-align: center;
}


.title {
	background-color: #EEE;
	width: 200px;
	height: 75px;
	text-align: center;
	padding-top: 20px;
	
}


.users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: ;
    margin: .5em;
    padding: .3em 0;
    height: 15em;
    border-radius: 4px;
}


.users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.users li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.users .text {
    position: relative;
    text-align: right;
    top: -3px;
}

.users .colData {
    position: relative;
    text-align: right;
    top: -3px;
}
.users .colLabel {
    position: relative;
    text-align: right;
    top: -3px;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button.delete, button.edit {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
}

.time, .intro {
	font-family: Arial;
	font-size: 16px;
}
.desc {
	background-color: #EEE;
	width: 200px;
	height: 120px;
	text-align: center;
	padding-top: 20px;
}
.title2 {
	background-color: #EEE;
	width: 150px;
	height: 90px;
	text-align: center;
	padding-top: 10px;
	
}
.skills {
	background-color: #EEE;
	width: 150px;
	height: 130px;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
	
}

